* {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0;
    user-select: none;
}
.mainContainer {
    border-radius: 36px;
    width: 270px;
    background: #111318;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 13px 10px;
}
.display {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: #262B37;
    width: 100%;
}
.input-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}
.input {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.output-row {
    height: 60px;
    width: auto;
}
.number-row {
    margin-top: 5px;
    height: 60px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}
.clear-btn {
    width: 185px;
    height: 60px;
    background: #563E5C;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.125s ease 0s;
}
.clear-btn:hover {
    transition: 0.3s ease 0s;
    background: #725E77;
    border-radius: 15px;
}
.operator-btn {
    height: 60px;
    width: 60px;
    background: #3E4759;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.125s ease 0s;
}
.operator-btn:hover {
    transition: 0.3s ease 0s;
    background: #5F6675;
    border-radius: 15px;
}
.number-btn {
    height: 60px;
    width: 60px;
    background: #181C23;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.125s ease 0s;
}
.number-btn:hover {
    transition: 0.3s ease 0s;
    background: #3E4248;
    border-radius: 15px;
}
.multiply-btn {
    height: 60px;
    width: 60px;
    background: #3E4759;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minus-btn {
    height: 60px;
    width: 60px;
    background: #3E4759;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus-btn {
    height: 60px;
    width: 60px;
    background: #3E4759;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-btn {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3E4759;
}
.equals-btn {
    background: #284777;
    height: 60px;
    width: 120px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.equals-btn:hover {
    transition: 0.3s ease 0s;
    background: #4C668E;
    border-radius: 15px;
}
.basicText {
    font-family: 'Open Sans', sans-serif;
    font-size: 23pt;
    color: rgba(255,255,255,0.70);
}
.delete-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(100deg) brightness(70%) contrast(100%);
}